.progress{
    height: 10px;
    background-color: #777;
    position: relative;
}

.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   animation: progress-animation 5s infinite;
}


@keyframes progress-animation{
    0% { width: 0%; }

    
    
    100% { width: 100%}
    
}